---
import KeepScrolling from "@/assets/keep-scrolling.svg"
import "../styles/global.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Landing GTA VI by @heimcodex</title>
  </head>
  <body>
    <slot />
    <KeepScrolling
      class="fixed bottom-3 right-0 left-0 mx-auto text-pink-300 drop-shadow-2xl animate-bounce-pulse"
    />
  </body>
</html>

<style is:global>
  html,
  body {
    background: #111;
    height: 300vh;
    overflow-x: hidden;
    overscroll-behavior: none;
    color: white;
    margin: 0;
    width: 100%;
  }

  #logo-mask {
    background: white;
    mask-image: url("/logo-stack.svg");
    mask-position: center 25%;
    mask-repeat: no-repeat;
    mask-size: clamp(5000vh, 3500%, 0vh);
  }
</style>
